
body{
	 font-family: "Raleway";
	 
}
h1
{
	text-align: center;
	font-size: 3em;
}

.blocpage
{
	width: auto;
	height: auto;
}




.contenu{
	margin: 2em;
	margin-bottom: 6em;
	margin-top: 4em;
	display: flex;


}
.texte
{
 text-align: justify;
 margin-left: 2em;
}
img#dominium {
	display: block;
	margin-right: auto;
	margin-left: auto;
	
}