div#colonne1 {
	float: left;
	width: 26%;
	background: white;
	margin: 2%;
    padding: 1%;
    
}
.questions {
    background-color: white;
    color: black;
    margin: 0px;
    padding: 3%;
    border: 2px solid #000000;
    border-radius: 6%;
}


div#colonne2 {
	float: right;
	width: 26%;
	background: white;
    padding: 3.5%;
    
}

div#centre {
	overflow: hidden;
	background: white;
    padding: 2%;
    width: 31%;
    

}

.ensemble{
	background-color: white;
    color: black;
    margin: auto;
    padding: auto;
    border: 3px solid #000000;
    border-radius: 4%;
    float: left
}
.row:after {
    content: "";
    display: table;
    clear: both;
}


