header{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-bottom:  2px #7AB781 solid;
	margin-top: 1%;
	padding-bottom: 1%;
}


#logo_hexagon
{
	background-size: cover;
	width: 329px;
	height: 101px;
	
}

.bloc
{
	flex-direction: column;
	

}

.co
{
	position: absolute;
	right : 1.5em;
	top : 1.2em;
}

.connexion
{
	text-decoration:  none;
	font-size: 1.2em;
	color: #445D7B;
	
	

}
.connexion:hover
{
	color: purple;
}

/* Menu de navigation*/
nav ul
{
	list-style-type: none;
	display:inline-flex;
	
}

nav li
{
	margin-right: 1em;

}

nav a
{
	font-size: 1.2em;
	color:#445D7B;
	padding-bottom: 2px;
	text-decoration: none;

}

nav a:hover
{
	color:purple;
}
