
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

body{
    padding: 0;
    margin: 0;
    height: 0;
   background-image: url(image/background-home.png);

    font-family: 'Raleway', sans-serif;

    font-size : 1.1em;

    
}
/* pour maison salle capteur */
ul ul {display: none;}
li:hover ul.sous_menu_habitations
{display:block;}
li:hover ul.sous_menu_salles
{display:block;}
/* @media only screen and (min-width: 1300px) and (max-width:2000px) { */
    header{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 2px #7AB781 solid;
        margin-top: 1%;
        padding-bottom: 1%;
    }
    #logo_hexagon
    {
        background-size: cover;
        width: 329px;
        height: 101px;
        margin-left: 1em;

    }


    .logo{
        display:block;
        width: 15em;
        height: 15em
        padding:0 ;
        margin : auto auto auto auto; /*haut droite bas gauche */
        float:left;
    }

    #colonnedroite{
        float:right;
        width:20%;
        margin-right: 1em;
        margin-left: 1em;
        padding-top:2em
    }
    #colonnegauche{
        float:left;
        width:20%;
        margin-right: 1em;
        margin-left: 1em;
        padding-top:2em
        
    }
    #Centre{
        margin-left:22%;
        margin-right:22%;
        padding-top:2em
    }
    #EditerProfil {
          margin-left:20%;
        margin-right:50%;
        padding-top:2em
    }
    #Centrebis{
        margin-left:10%;
        margin-right:20%;
        padding-top:2em
    }
.supprimer{
        position: relative;
        color : red;
        text-decoration: none;
        display: block ;

    }
.ajouter {
    text-decoration: none;
}
.ajouter:hover {
  color:white;
}
    #menu {
        position: relative;
        color : #000;
        text-decoration: none;
 
        display: block ;
        margin : auto auto auto 1em;
    }

    #menu:visited{
        position: relative;
        color : gray;
        text-decoration: none;
      
        display: block ;
        margin : auto auto auto 1em;
    }
    #menu:hover, #menu:focus,#menu:active{
        position: relative;
        color : white;
         

        background: #445D7B;
      
       
        display: block ;
        margin : auto auto auto 1em;
    }

      

    
    
    .box_information{
        width: auto;
        height: auto;
        margin:0 auto;
        padding:0 ;
        top:35%;
        left:88%;
        margin-top:10%;
        border:0.10em solid black;
        background-color: #fff;
        list-style-type:none;

    }
    .box{
        color : black;
        text-decoration: none;
       
        display: block ;
        margin : auto auto auto 1em; /*haut droite bas gauche */
        float:left;

    }
  
    .avatar_box{
        height:1.1em;
        width: 1.1em;
        display: block ;
        margin : 1em 5em auto auto ;
    }
     .avatar_notif{
        height:1.1em;
        width: 1.1em;
        display: block ;
        margin : 0.4em auto auto auto ;
    }
    .box_rouge:link, .box_rouge:visited, .box_rouge:focus{
        color : red;
        text-decoration: none;
      
        display: block ;
        margin : auto auto auto auto;

        border-top:0.10em solid black;
        text-align:center;
    }
    .box_rouge:hover{
        color : white;
        background: #445D7B;
        text-decoration: none;
      
        display: block ;
        margin : auto auto auto 1em;
    }

    .box_profil{
        width: auto;
        height: auto;
        margin:0 auto;
        padding:0 ;
        top:2%;
        left:88%;
        margin-bottom:10%;
       
   
        list-style-type:none;
    }
    .photo_profil{
        margin:0 auto;
        padding:0 ;
        left: 8%;
        height:6em;
        width: 6em;
        display: block ;

    }
    .affichage_prenom{
        width: auto;
        height: auto;
        text-align: center;
        margin:0 0.8em;
        padding:0 ;
        margin-bottom: 0.5em;
        
        border:0.10em solid black;
        background-color: #fff;
        list-style-type:none;
    }
    .affichage_nom{
        width: auto;
        height: auto;
        text-align: center;

        margin:0 0.8em;
        padding:0 ;
       
        border:0.10em solid black;
        background-color: #fff;
        list-style-type:none;
    }
    .meta_menu{
        width: auto;
        height: auto;
        margin:0 auto;
        padding:0 ;
        top:15%;
        border: 0.10em solid black;
        background-color: #fff;
        list-style-type:none;
        overflow-y: hidden;
    }
    .sous_menu_salles{
        width: auto;
        height: auto;
        margin: 2px;
        padding:0 ;
        border:0.10em solid black;
        background-color: #fff;
        list-style-type:none;
    }
    .sous_menu_habitations{
        width: auto;
        height: auto;
        margin: 2px;
        padding:0 ;
        border:0.10em solid black;
        background-color: #fff;
        list-style-type:none;
    }
    #MenuMaisonPrincipal{
        display: none;
    }

    #MenuMaisonSecondaire{
        display: none;
    }

     #MenuMaison{
        display: block;
    }

    .ajout{
        color : #000;
        text-decoration: none;
              display: block ;
        margin : 0.5em auto 0.5em auto;
        border-top:0.13em solid black;
        text-align: center;
    }

    .ajout:hover, .ajout:focus,.ajout:active{
        color : white;
        background: #445D7B;
        margin : 0.5em auto 0.5em auto;
        text-decoration: none;
        

        display: block ;
        text-align: center;
        cursor: pointer;
    }
    
    .Alerte{
      
       
        background-color: #E0F5FF;
        color:black;
        margin-bottom: 3em;
        border: 0.10em solid black;
        text-align: center;
        -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      -o-hyphens: auto;
      hyphens: auto;
      font-size : 1.2em;
      padding: 0.9em;
}
    .bouton_fermer{
        color:#7AB781;
        font-weight:bold;
       
        cursor:pointer;
        transition:0.5s;
        font-size:2em;
        
    }
    .bouton_fermer:hover{
        color:black;
    }
    .avatar_capteur{
        margin:0 auto;
        padding:0 ;
        height:5em;
        width: 5em;
        display: block ;
    }

    .avatar_capteur_lampe_allume{
        margin:0 auto;
        padding:0 ;
        height:5em;
        width: 5em;
        display: none ;
    }

    .avatar_capteur_lampe_éteint{
        margin:0 auto;
        padding:0 ;
        height:5em;
        width: 5em;
        display: block ;
    }

    .capteur{
        display: table-cell;
        width: 20em;
        border:0.10em solid black;
        padding: 1em;
        
      }
    .valeur {
      margin:0 auto;
        padding:0 ;
}
    

    .titreSet{
        font-size : 1.3em;

    }
    /*salle ethabitation */
   .bouton{
        border-radius:0.2em
       
        font-size : 1.1em;
        color:#fff;
        margin-left: 0.7em;
        font: 1.5em;
        background-color:#445D7B
    }
    
    .bouton {
  background-color: #445D7B;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  line-height: 1em;
  outline: none;
  position: relative;
  
  font-weight: 700;
}

.bouton:before,
.bouton:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}

.bouton:before {
  border-color: #445D7B;
  border-top-width: 2px;
  left: 0px;
  top: -5px;
}

.bouton:after {
  border-bottom-width: 2px;
  border-color: #445D7B;
  bottom: -5px;
  right: 0px;
}

.bouton:hover,
.bouton.hover {
  background-color: #445D7B;
}

.bouton:hover:before,
.bouton.hover:before,
.bouton:hover:after,
.bouton.hover:after {
  height: 100%;
  width: 100%;
}
    .envoyer{
    margin-right: 1em;
 margin-bottom:1em;
 width: 6em;
 height: 2em;
 display:none;
}

fieldset {
    -moz-border-radius:8px;
    -webkit-border-radius:8px;  
    border-radius:8px;
    border: 0.10em solid black;
    border-spacing: 2em;
}
/* pour ajouter capteur */ 
input[name="ajouter"] {
    -moz-box-shadow: 0px 10px 14px -7px #9fb4f2;
    -webkit-box-shadow: 0px 10px 14px -7px #9fb4f2;
    box-shadow: 0px 10px 14px -7px #9fb4f2;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
    background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
    background-color:#7892c2;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:20px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;

}
input[name="ajouter"]:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
    background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
    background-color:#476e9e;
}
h3 {
    font-size: 25px;
}

p {
    font-size : 20px;
}
/* pour +1 maison */ 
*, *::before, *::after {
  box-sizing: border-box;
}
/* pour +1 maison */ 

.basicBox, .swiggleBox, .checkBox {
  width: 130px;
  height: 65px;
  margin: 15px auto;
  color: #4274D3;
  font-size: 1.15rem;
  line-height: 65px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  cursor: pointer;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}
svg rect, svg path, svg polyline {
  fill: none;
  stroke: #4274D3;
  stroke-width: 1;
}

.basicBox:hover svg rect, .swiggleBox:hover svg path, .checkBox:hover svg polyline {
  stroke: #4274D3;
}

/* Swiggle Box */
svg path {
  stroke-dasharray: 265, 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}
.swiggleBox:hover svg path {
  stroke-width: 3;
  stroke-dasharray: 0, 350;
  stroke-dashoffset: 20;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}
#ajoutermaison {
    text-decoration: none;
}

/* pour entrer dans une maison*/ 

.snip1479 {
  border: none;
  background-color: #7CBA1F;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  padding: 0px 12px;
  display: inline-block;
  margin: 12px 12px;

  line-height: 46px;
  font-weight: 300;
  outline: none;
  position: relative;
  overflow: hidden;
  font-size: 1em;
  border-radius: 23px;
  letter-spacing: 1px;
  display : block;
  margin : auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1479:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;

  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.snip1479:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  content: '';
  border-radius: inherit;
}
.snip1479:hover,
.snip1479.hover {
  border: 3px solid #445D7B;
  color: #ffffff;
}
.snip1479:hover:before,
.snip1479.hover:before {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 0.25;
}


/* pour affichage données/historique */
#donnee {
 border-collapse:collapse;
margin : 0;
text-align : center;

th, td {
 border:1px solid black;

 }
td {
 text-align:center;
 }
caption {
 font-weight:bold;
 }
}

#button {
  outline:none;
  height: 3em;
  text-align: center;
  width: 20em;
  border-radius:40px;
  background: #fff;
  border: 2px solid #7CBA1F;
  color:black;
  letter-spacing:1px;
  text-shadow:0;
  cursor: pointer;
  transition: all 0.25s ease;
  margin : auto;
  display: block;
}
#button:hover {
    color:white;
    background: #7CBA1F;
  }

/* pour bouton editer profil et ajouter une maison */ 
button.snip0040 {
font-family: 'Raleway', sans-serif;
  border: none;
  background-color: #445D7B;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 2px 30px;
  display: inline-block;
  margin: auto auto;
  line-height: 1.5em;
  font-weight: 500;
  font-size: 1em;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
button.snip0040 span {
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.8;
}
button.snip0040 i {

  left: 1em;
  top:0.4em;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
button.snip0040:before {
  content: '';
  top: 0;
  left: 0;
  width: 0;
  position: absolute;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
button.snip0040:hover span,
button.snip0040.hover span {
  -webkit-transform: translate3d(20px, 0px, 0px);
  transform: translate3d(20px, 0px, 0px);
  opacity: 1;
}
button.snip0040:hover i,
button.snip0040.hover i {
  opacity: 1;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
button.snip0040:hover:before,
button.snip0040.hover:before {
  width: 44px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
button.snip0040:active:before {
  background: rgba(255, 255, 255, 0.3);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10em; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.maReponse-content {
  background-color: #fefefe;
  margin: auto;
  padding: 1em;
  border: 1px solid #888;
  width: 20%;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;}

}
.Titre{
  text-align: center;
}
.hand {
background-color: #445D7B;
  border: none;
  color : white;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  cursor: pointer;
}
